<h1 style="color: #2c3e50; font-family: Arial, sans-serif; margin-bottom: 20px;">UNFCU Customer Tenant</h1>



<h3>ID Token</h3>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Claim</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each idTokenClaims}}
        <tr>
            <td><strong>{{@key}}</strong></td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>


<a href="https://aka.ms/id-tokens" target="_blank">Learn about claims in this ID token</a>
<br>
<a href="/">Go back</a>
