<h1>UNFCU Customer Tenant</h1>

{{#if isMsr}}
    <h2>Welcome MSR!</h2>
    <img src="/images/admin-icon.png" alt="MSR Picture" style="max-width: 200px;">
{{else if isMember}}
    <h2>Welcome Member!</h2>
    <img src="/images/user-icon.png" alt="Member Picture" style="max-width: 200px;">
{{/if}}

<h3>ID Token</h3>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Claim</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each idTokenClaims}}
        <tr>
            <td><strong>{{@key}}</strong></td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<br>


<a href="https://aka.ms/id-tokens" target="_blank">Learn about claims in this ID token</a>
<br>
<a href="/">Go back</a>
