<h1 style="color: #2c3e50; font-family: Arial, sans-serif; margin-bottom: 20px;">UNFCU Customer Tenant</h1>

{{#if username}}
    <h2 style="color: #2980b9; font-family: Arial, sans-serif; margin: 15px 0;">Welcome {{username}}!</h2>
    {{#if isMsr}}
        <img src="/images/admin-icon.png" alt="MSR Picture" style="max-width: 200px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); margin-bottom: 25px;">
    {{else if isMember}}
        <img src="/images/user-icon.png" alt="Member Picture" style="max-width: 200px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); margin-bottom: 25px;">
    {{#if isMsr2}}
        <img src="/images/admin-icon.png" alt="MSR Picture" style="max-width: 200px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); margin-bottom: 25px;">
    {{/if}}
{{/if}}

<h3>ID Token</h3>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Claim</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each idTokenClaims}}
        <tr>
            <td><strong>{{@key}}</strong></td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>


<a href="https://aka.ms/id-tokens" target="_blank">Learn about claims in this ID token</a>
<br>
<a href="/">Go back</a>
